<p id="notice"><%= notice %></p>
<div class="row">
<div class="large-9 columns">
<div class="panel">
  <p>You have visited <%= @visit_count %> times.</p>

  <%= render 'layouts/partials/floatingForm' %>
</div></div></div>
