<p id="notice"><%= notice %></p>

<h1>Counties</h1>

<div class="row">
<div class="large-12 columns">
<div class="panel">

<table border= "1px solid black">



  <tbody>
    <% count = 0 %>
    <% @counties.each do |county| %>
      <% if count == 0 %>
        <tr><td><%= county.name%></td>
          <% count += 1 %>
      <% elsif count < 5 %>
        <td><%= county.name%></td>
        <% count += 1 %>
      <% elsif count == 5 %>
        <td><%= county.name%></td></tr>
        <% count = 0 %>
      <% end %>
    <% end %>
  </tbody>
</table>

</div></div>
</div>

<br>
