<div id="header">
  <%= link_to(image_tag('logo.png', :size => '80x80'), items_path) %>
  <h1>PRC Hotline</h1>

  <nav class="top-bar">
      <ul class="title-area">
            <ul><%= link_to 'Items', items_path %></ul>
            <ul><%= link_to 'Counties', counties_path %></ul>
            <ul><%= link_to 'Locations', locations_path %></ul>
      </ul>
  </nav>
</div>
