
      <!-- fields -->

      <td>
      <%= l.collection_select(:item_id, Item.all.alphabetical, :id, :name, { :prompt => 'Select Item' } ) %>
      <!-- x icon to remove -->
      </td>
      <td>
        <%= l.input :active, label: "" %>
      </td>
      <td>
        <%= l.link_to_remove("x") %>
      </td>

      <!-- x icon to remove -->
