 <div class="fields">
      <!-- fields -->
      <div class="large-5 large-centered columns">
      <%= l.collection_select(:item_id, Item.all.alphabetical, :id, :name, { :prompt => 'Select Item' } ) %>
      <!-- x icon to remove -->
      <%= l.link_to_remove("x") %>
      </div>
</div>