 <div class="fields">
    <div class="min_attraction">
      <!-- x icon to remove -->
      <%= l.link_to_remove("x") %>
      <!-- fields -->
      <%= l.collection_select(:item_id, Item.all.alphabetical, :id, :name, { :prompt => 'Select Item' } ) %>

    </div>
</div>