
      <!-- fields -->

      <td>

        <% if !l.object.item.nil? %>
          <%= l.object.item.name %>
        <% end %>

      <!-- x icon to remove -->
      </td>
      <td>
        <%= l.input :active, label: "" %>
      </td>


      <!-- x icon to remove -->
