 <div class="fields">
    <div class="min_attraction">
      <!-- x icon to remove -->
      <%= l.link_to_remove("x") %>
      <!-- fields -->
      <%= l.input :item_id %>
      <%= l.input :location_id %>
    </div>
</div>