Items


   <!--<%= l.collection_select(:items, Item.all, :id, :name) %> -->
    <% @items = Item.all.map { |a| [ a.name, a.id.to_i ] } %>
    <% @items.each do |item| %>
      <div> 
        <%= l.check_box(:items, { :multiple => true }, item[1], nil) %>  <%= item[0] %> 
      </div>
    <% end %> 